<div class="sidebarContainer">
  <div class="flex-shrink-0 p-3">
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false"
        routerLink="/userProfile"
        >
          Mis datos
        </button>
      </li>
      <li class="border-top my-1"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Wishlist
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="ms-4"><a routerLink="/userProfile/createWishlist" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Crear lista</a></li>
            <li class="ms-4"><a routerLink="/userProfile/wishlist" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver listas</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-1"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Pedidos
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="ms-4"><a routerLink="/userProfile/orders" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver pedidos</a></li>
            <li class="ms-4"><a routerLink="/userProfile/checkOrderStatus"  class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver estado</a></li>
            <li class="ms-4"><a routerLink="/userProfile/reviews"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded">Escribir reseña</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</div>
