<nav>
  <app-navbar />
</nav>
<div>
  <div class="option-container text-center mt-3 mb-4">
    <a class="option-links" href="">SOFTWARE</a>
    <a class="option-links" href="">AUDIO</a>
    <a class="option-links" href="">MICRÓFONOS</a>
    <a class="option-links" href="">MIDI</a>
    <a class="option-links" href="">CABLES</a>
    <a class="option-links" href="">OFERTAS</a>
  </div>
  <header class="header-main-container">
    <div
      class="header-container d-flex align-items-center justify-content-center flex-column"
    >
      <p class="p-Title">Bienvenido a</p>
      <h1 class="h1-Title">MusicStudio</h1>
    </div>
  </header>

  <section class="section1-container text-center">
    <h3 class="section1-title mb-5">NUESTRAS VENTAJAS</h3>
    <div class="row">
      <div
        class="benefitsCard-container d-flex flex-wrap justify-content-center"
      >
        <div *ngFor="let benefit of benefits1" class="card-container mx-1">
          <a href="#" class="cardLink">
            <figure class="cardBody">
              <img
                [src]="benefit.image"
                alt="benefitsIcon"
                class="benefitIcons"
              />
            </figure>
          </a>
          <p class="benefitTitle mt-2 mb-5">{{ benefit.title }}</p>
        </div>
      </div>
      <div
        class="benefitsCard-container d-flex flex-wrap justify-content-center"
      >
        <div *ngFor="let benefit of benefits2" class="card-container mx-1">
          <a href="#" class="cardLink">
            <figure class="cardBody">
              <img
                [src]="benefit.image"
                alt="benefitsIcon"
                class="benefitIcons"
              />
            </figure>
          </a>
          <p class="benefitTitle mt-2 mb-5">{{ benefit.title }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section2-container text-center">
    <div class="primero">
      <div class="item1">
        <h3 class="itemText">Pack KRK Rokit + soporte de escritorio</h3>
        <img class="itemImg" src="../../../assets/images/web-images/krk.png" alt="">
      </div>
      <div class="item1-1">
        <h3 class="itemText">FL Studio con un 30% de descuento</h3>
        <img class="itemImg" src="../../../assets/images/web-images/flstudio.png" alt="">
      </div>
    </div>
    <div class="segundo">
      <div class="item2">
        <img class="item2Img" src="../../../assets/images/web-images/apollo.png" alt="">
      </div>
      <div class="item3">
        <h3 class="itemText">Micrófono de alta calidad</h3>
        <img class="itemImg" src="../../../assets/images/web-images/at2020.png" alt="">
      </div>
      <div class="item2-2">
        <img class="item2Img" src="../../../assets/images/web-images/arturia.png" alt="">
      </div>
    </div>
  </section>
  <section class="section3-container text-center">
    <h3 class="section1-title mb-5">NUESTROS PRODUCTOS</h3>
    <div class="row">
      <div
        class="categoriesCard-container d-flex flex-wrap justify-content-center"
      >
        <div *ngFor="let category of categories1" class="card-container mx-5">
          <a href="#" class="cardLink">
            <figure class="cardBody">
              <img
                [src]="category.image"
                class="categoryImg"
                alt="categoryImg"
              />
            </figure>
          </a>
          <h6 class="card-title mt-3 mb-4">{{ category.categoryName }}</h6>
        </div>
      </div>
      <div
        class="categoriesCard-container d-flex flex-wrap justify-content-center"
      >
        <div *ngFor="let category of categories2" class="card-container mx-5">
          <a href="#" class="cardLink">
            <figure class="cardBody">
              <img
                [src]="category.image"
                class="categoryImg"
                alt="categoryImg"
              />
            </figure>
          </a>
          <h6 class="card-title mt-3 mb-4">{{ category.categoryName }}</h6>
        </div>
      </div>
    </div>
  </section>
  <section class="section4-container text-center">
    <h3>LAS MEJORES MARCAS</h3>
    <div class="slider">
      <div class="slide-track">
        <div class="slide mx-5"
        *ngFor="let brand of brands">
          <img [src]="brand.image" height="160" width="270" [alt]="brand.name" />
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <app-footer />
</footer>
