<div class="navbar">
  <div class="container-fluid px-4">
    <form class="d-flex align-items-center" role="search">
      <img class="searchLogo" src="../../../../assets/images/iconos/lupa.png" alt="searchIcon"
      width="23"
        height="23">
      <input
        class="form-control search-input "
        type="search"
        placeholder="Busca un producto"
        aria-label="Search"
      >
    </form>
    <a class="navbar-brand " href="#">
      <img
        src="../../../../assets/images/Logos/MainLogo.png"
        alt="MainLogo"
        width="100"
        height="100"
      />
    </a>
    <div class="d-flex align-items-center">
      <button class="btn btn-color"
      (click)="redirectToLogin()"
      >Log In</button>
      <a href="#" class="cartLogoButton ms-3">
        <img src="../../../../assets/images/iconos/carrito.png" alt="cartLogo"
        width="50"
        height="50"/>
      </a>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <hr style="width: 1500px;">
</div>
